# dependencies
node_modules

# build output
dist
dist-ssr

# vercel
.vercel

# edgeone
.edgeone

# env & secrets (JANGAN commit)
.env
.env.*
!.env.example

# logs & cache
*.log
.cache
node_modules/.cache

# editor / OS
.DS_Store
*.local
.idea
